*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

body, html {
	min-height: 100%;
}

body {
	font-size: 1.1rem;
  line-height: 1.5;
	letter-spacing: 0.2;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

img {
	object-fit: cover;
}

input, button, textarea, select {
  font: inherit;
	font-size: inherit;
}

span, p, h1, h2, h3, h4 {
  overflow-wrap: break-word;
}

h1, h2, h3, h4 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

h1, h2, h3, h4, button, input, label {
	line-height: 1.1;
}

ul, ol {
  list-style: none;
}

:target {
  scroll-margin-block: 5ex;
}

a {
	color: currentColor;
	text-underline-offset: 2px;
}
