:root {
	font-family: system-ui, sans-serif;
  --color-background: #eeeeee;
  --color-text: #111111;
  --color-primary: #ff4d00;
	--color-muted: hsl(240 3.7% 15.9%);
	--color-muted-foreground: hsl(240 3.7% 15.9%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #111111;
    --color-text: #eeeeee;
    --color-primary: #ff4d00;

    --color-muted: hsl(240 3.7% 15.9%);
    --color-muted-foreground: hsl(240 5% 64.9%);
  }
}

@supports(color: color(display-p3 1 1 1)) {
    :root {
        --color-primary: color(display-p3 0.99 0.4 0.02);
    }
}

::selection {
    color: var(--color-text);
    background: var(--color-primary);
}

body {
  color: var(--color-text);
	background-color: var(--color-background);
	accent-color: var(--color-primary)
}

.balance {
  text-wrap: balance;
}

main {
	max-width: 700px;
  padding: 64px 16px;
  margin-inline: auto;
}

a {
  color: var(--color-primary);
}

p {
	color: light-dark(#666, #888);
}
